{% extends 'app_coder/padre.html' %}

{% load static %}

{% block contenido_que_cambia %}

<div style="background-color: rgba(92, 172, 247, 0.62);">
    <h3>Podes buscar una camada</h3>

    <form action="/app_coder/buscar/" method="GET">

        <input type="number", name="camada", id="camada">

        <input type="submit", value="Buscar">

    </form>

    {% if cursos %}

    <p>Estamos buscando el curso {{camada}}</p>

    <ul>
    {% for curso in cursos %}
        <li>{{curso.nombre}}</li>
        <li>{{curso.camada}}</li>
    {% endfor %}
    </ul>

    {% endif %}
</div>

{% endblock %}